{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }} | Blog{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}">

{% endblock %}

{% block content %}
<div class="container blog-detail-container">
  <h1>{{ post.title }}</h1>
  <p class="blog-meta"> {{ post.created_at|date:"F d, Y" }}</p>

  <div class="markdown-body">
    {{ post.content_html|safe }}
  </div>

  <a href="{% url 'blog:blog_list' %}" class="btn btn-outline-primary btn-back">← Back to Blog</a>
</div>
{% endblock %}
